[submodule "submodules/name-badges-frontEndMasters-stevekinney"]
	path = submodules/name-badges-frontEndMasters-stevekinney
	url = https://github.com/andreasZel/name-badges-frontEndMasters.git
[submodule "submodules/accident-counter-frontEndMasters-stevekinney"]
	path = submodules/accident-counter-frontEndMasters-stevekinney
	url = https://github.com/andreasZel/accident-counter-frontEndMasters.git
[submodule "submodules/inspirational-quotes-frontEndMasters-stevekinney"]
	path = submodules/inspirational-quotes-frontEndMasters-stevekinney
	url = https://github.com/andreasZel/inspirational-quotes-frontEndMasters.git
[submodule "submodules/colors-frontEndMasters-stevekinney"]
	path = submodules/colors-frontEndMasters-stevekinney
	url = https://github.com/andreasZel/colors-frontEndMasters.git
